<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="navigation">
        <ul>
            <li class="list active">
                <b></b>
                <b></b>
                <a href="#" onclick="goto('index')">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#" onclick="goto('profile')">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="title">Profile</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#" onclick="goto('search')">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title">Search</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <span class="title">Contract</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main" id="main">
        <table class="content">
            <tr>
                <th>seq</th>
                <th>이름</th>
                <th>성</th>
            </tr>
            <tr th:each="person:${personList}">
                <td th:text="${person.person_id}" />
                <td th:text="${person.firstname}" />
                <td th:text="${person.lastname}" />
            </tr>
            <tr>
                <td colspan="3">
                    <table th:with="p=${totalSize/10}">
                        <tr>
                            <td th:each="page:${#numbers.sequence(1, p)}"><a th:text="${page}" th:onclick="'getPerson(' + ${page} + ');'"></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="main" id="profile" style="display:none">
        <table class="content">
            <tr>
                <th>이름</th>
                <th>성</th>
            </tr>
            <tr>
                <td><input type="text" id="firstName" th:value="${firstName}"></td>
                <td><input type="text" id="lastName" th:value="${lastName}"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="button" value="저장" onclick="setPerson();"></td>
            </tr>
        </table>
    </div>
    <div class="main" id="search" style="display:none">
        <table class="content">
            <tr>
                <td colspan="3">
                    <input type="text" id="searchName" th:value="${firstName}">
                    <input type="button" value="이름검색" onclick="searchPerson()">
                </td>
            </tr>
            <tr>
                <th>seq</th>
                <th>이름</th>
                <th>성</th>
            </tr>
            <tr th:each="person:${personList}">
                <td th:text="${person.person_id}" />
                <td th:text="${person.firstname}" />
                <td th:text="${person.lastname}" />
            </tr>
        </table>

    </div>
    <div class="toggle">
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
    </div>
    <div class="loggout">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                </a>
            </li>
        </ul>
    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>

    let menuToggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');
    menuToggle.onclick = ()=>{
        menuToggle.classList.toggle('active');   
        navigation.classList.toggle('active');
        main.classList.toggle('active');
    }


    let list = document.querySelectorAll('.list');
    
    for(let i = 0 ; i < list.length ; i++) {
        list[i].onclick = ()=>{
            let j = 0;
            while(j < list.length) {
                list[j++].className = 'list';
            }
            list[i].className = 'list active';                
        };
    }

    function goto(id) {
        if(id == 'index') {
            $("#index").show();
            $("#profile").hide();
            $("#search").hide();
            getPerson(1);
        }else if(id == 'profile') {
            $("#index").hide();
            $("#profile").show();
            $("#search").hide();
        }else if(id == 'search') {
            $("#index").hide();
            $("#profile").hide();
            $("#search").show();
        }
    }

</script>
<script th:inline="javascript">
    function getPerson(requestPage) {
        $.ajax({
            url: "/getPersons",
            data: {"requestPage":requestPage},
            method: "GET"
            })
            .done(function(h) {
                $('#main').show()
                $('#main').replaceWith(h);
                console.log(h);
            })
            .fail(function(xhr, status, errorThrown) {
                alert("fail : "+errorThrown);
            })
            .always(function(xhr, status) {
            });
    }

    function setPerson() {
        $.ajax({
            url: "/setPerson",
            data: {
                "firstName":$('#firstName').val(),
                "lastName":$('#lastName').val()
            },
            method: "POST"
            })
            .done(function(h) {
                $('#profile').show()
                alert('잘 저장되었어요.');
                console.log(h);
            })
            .fail(function(xhr, status, errorThrown) {
                alert("fail : "+errorThrown);
            })
            .always(function(xhr, status) {
            });
    }

    function searchPerson() {
        $.ajax({
            url: "/searchPerson",
            data: {
                "searchName":$('#searchName').val()
            },
            method: "POST"
            })
            .done(function(h) {
                $('#search').replaceWith(h);
                $('#search').show()
                console.log(h);
            })
            .fail(function(xhr, status, errorThrown) {
                alert("fail : "+errorThrown);
            })
            .always(function(xhr, status) {
            });
    }
</script>
</html>